[package]
name = "p3-poseidon2-air"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
p3-air.workspace = true
p3-field.workspace = true
p3-matrix.workspace = true
p3-poseidon2.workspace = true

p3-maybe-rayon.workspace = true

rand.workspace = true
tracing.workspace = true

[target.'cfg(target_family = "unix")'.dev-dependencies]
tikv-jemallocator = "0.6"

[dev-dependencies]
p3-baby-bear.workspace = true
p3-challenger.workspace = true
p3-commit.workspace = true
p3-dft.workspace = true
p3-fri.workspace = true
p3-keccak.workspace = true
p3-koala-bear.workspace = true
p3-merkle-tree.workspace = true
p3-symmetric.workspace = true
p3-uni-stark.workspace = true

tracing-forest = { workspace = true, features = ["ansi", "smallvec"] }
tracing-subscriber = { workspace = true, features = ["std", "env-filter"] }

[features]
parallel = ["p3-maybe-rayon/parallel"]
# Examples
nightly-features = [
    "p3-baby-bear/nightly-features",
    "p3-keccak/nightly-features",
    "p3-koala-bear/nightly-features",
]
