[workspace]
resolver = "2"
members = [
    "air",
    "baby-bear",
    "blake3",
    "brakedown",
    "challenger",
    "code",
    "commit",
    "dft",
    "field",
    "field-testing",
    "fri",
    "goldilocks",
    "interpolation",
    "keccak",
    "keccak-air",
    "lde",
    "matrix",
    "merkle-tree",
    "maybe-rayon",
    "mersenne-31",
    "monolith",
    "poseidon",
    "poseidon2",
    "reed-solomon",
    "rescue",
    "symmetric",
    "util",
    "uni-stark", "fibnonacci-air",
]
