[workspace]
resolver = "2"
members = [
    "air",
    "baby-bear",
    "blake3",
    "bn254-fr",
    "challenger",
    "circle",
    "commit",
    "dft",
    "field",
    "field-testing",
    "fri",
    "goldilocks",
    "interpolation",
    "koala-bear",
    "keccak",
    "keccak-air",
    "matrix",
    "merkle-tree",
    "maybe-rayon",
    "mersenne-31",
    "monolith",
    "monty-31",
    "poseidon",
    "poseidon2",
    "poseidon2-air",
    "rescue",
    "sha256",
    "symmetric",
    "util",
    "uni-stark",
]

[workspace.package]
version = "0.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/0xPolygonZero/Plonky3"
homepage = "https://github.com/0xPolygonZero/Plonky3"
keywords = ["cryptography", "SNARK", "PLONK", "FRI", "plonky3"]
categories = ["cryptography::cryptocurrencies"]

[profile.profiling]
inherits = "release"
debug = true
