[package]
name = "p3-commit"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
test-utils = ["dep:p3-dft"]

[dependencies]
p3-challenger = { path = "../challenger" }
p3-field = { path = "../field" }
p3-matrix = { path = "../matrix" }
p3-util = { path = "../util" }

itertools = "0.13.0"
serde = { version = "1.0", default-features = false }

# for testing
p3-dft = { path = "../dft", optional = true }

[dev-dependencies]
p3-dft = { path = "../dft" }
rand = "0.8.5"
