[package]
name = "p3-commit"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[features]
default = ["test-utils"]
test-utils = ["p3-challenger", "p3-dft"]

[dependencies]
p3-field.workspace = true
p3-matrix.workspace = true
p3-util.workspace = true

itertools.workspace = true
serde.workspace = true

# for testing
p3-challenger = { workspace = true, optional = true }
p3-dft = { workspace = true, optional = true }

[dev-dependencies]
p3-challenger.workspace = true
p3-dft.workspace = true
