[package]
name = "p3-interpolation"
version = "0.3.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
p3-field.workspace = true
p3-matrix.workspace = true
p3-maybe-rayon.workspace = true
p3-util.workspace = true

[dev-dependencies]
p3-baby-bear.workspace = true
