[package]
name = "p3-interpolation"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field = { path = "../field", version = "0.2.0" }
p3-matrix = { path = "../matrix", version = "0.2.0" }
p3-util = { path = "../util", version = "0.2.0" }

[dev-dependencies]
p3-baby-bear = { path = "../baby-bear" }
