[package]
name = "p3-matrix"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
p3-field.workspace = true
p3-maybe-rayon.workspace = true
p3-util.workspace = true
itertools.workspace = true
rand.workspace = true
serde = { workspace = true, features = ["derive"] }
transpose.workspace = true
tracing.workspace = true

[dev-dependencies]
criterion.workspace = true
p3-baby-bear.workspace = true
p3-mersenne-31.workspace = true

[[bench]]
name = "transpose_benchmark"
path = "benches/transpose_benchmark.rs"
harness = false

[[bench]]
name = "columnwise_dot_product"
path = "benches/columnwise_dot_product.rs"
harness = false
