[package]
name = "p3-poseidon"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field = { path = "../field", version = "0.2.0" }
p3-mds = { path = "../mds", version = "0.2.0" }
p3-symmetric = { path = "../symmetric", version = "0.2.0" }
rand = "0.8.5"

[dev-dependencies]
p3-baby-bear = { path = "../baby-bear" }
p3-goldilocks = { path = "../goldilocks" }
p3-mersenne-31 = { path = "../mersenne-31" }
criterion = "0.5.1"

[[bench]]
name = "poseidon"
harness = false
