[package]
name = "p3-poseidon"
description = "A generic implementation of the Poseidon permutation for cryptographic hash constructions."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field = { workspace = true }
p3-mds = { workspace = true }
p3-symmetric = { workspace = true }
rand = "0.8.5"

[dev-dependencies]
p3-baby-bear = { workspace = true }
p3-goldilocks = { workspace = true }
p3-mersenne-31 = { workspace = true }
criterion = "0.5.1"

[[bench]]
name = "poseidon"
harness = false
