[package]
name = "p3-multilinear-util"
description = "A collection of utility functions and tools for multilinear operations."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field.workspace = true
p3-matrix.workspace = true
p3-maybe-rayon.workspace = true
p3-util.workspace = true

rand.workspace = true

[dev-dependencies]
criterion.workspace = true
p3-baby-bear.workspace = true

proptest.workspace = true

[features]
parallel = ["p3-maybe-rayon/parallel"]

[[bench]]
name = "evaleq_batched"
harness = false

[lints]
workspace = true
