[package]
name = "p3-dft"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
p3-field.workspace = true
p3-matrix.workspace = true
p3-maybe-rayon.workspace = true
p3-util.workspace = true
tracing.workspace = true
itertools.workspace = true

[dev-dependencies]
p3-monty-31.workspace = true
p3-baby-bear.workspace = true
p3-goldilocks.workspace = true
p3-mersenne-31.workspace = true
criterion.workspace = true
rand.workspace = true

[[bench]]
name = "fft"
harness = false

[features]
nightly-features = [
    "p3-goldilocks/nightly-features",
    "p3-monty-31/nightly-features",
    "p3-baby-bear/nightly-features",
    "p3-mersenne-31/nightly-features",
]
parallel = ["p3-maybe-rayon/parallel"]
