[package]
name = "p3-util"
description = "A collection of utility functions and tools for low-level operations, such as bit manipulation and array transformations."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
serde = { version = "1.0", default-features = false }
