[package]
name = "p3-util"
description = "A collection of utility functions and tools for low-level operations, such as bit manipulation and array transformations."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
rayon = { workspace = true, optional = true }
serde.workspace = true
transpose = "0.2"

[dev-dependencies]
criterion.workspace = true
p3-baby-bear.workspace = true
p3-field.workspace = true
proptest.workspace = true
rand.workspace = true
serde_json.workspace = true

[features]
parallel = ["rayon"]

[[bench]]
name = "bit_reverse"
harness = false

[[bench]]
name = "transpose"
harness = false

[lints]
workspace = true
