[package]
name = "p3-rescue"
version = "0.0.1"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
itertools.workspace = true
p3-field.workspace = true
p3-mds.workspace = true
p3-symmetric.workspace = true
p3-util.workspace = true
rand.workspace = true
sha3.workspace = true

[dev-dependencies]
p3-baby-bear.workspace = true
p3-goldilocks.workspace = true
p3-mersenne-31.workspace = true
criterion.workspace = true

[[bench]]
name = "rescue"
harness = false
