[package]
name = "p3-rescue"
description = "Implementation of the Rescue hash function and utilities."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
gcd = "2.3.0"
itertools = "0.12.0"
modinverse = "0.1.1"
num = "0.4.0"
num-integer = "0.1.45"
p3-field = { workspace = true }
p3-mds = { workspace = true }
p3-symmetric = { workspace = true }
p3-util = { workspace = true }
rand = "0.8.5"
sha3 = "0.10.8"

[dev-dependencies]
p3-baby-bear = { workspace = true }
p3-goldilocks = { workspace = true }
p3-mersenne-31 = { workspace = true }
criterion = "0.5.1"

[[bench]]
name = "rescue"
harness = false
