[package]
name = "p3-rescue"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
gcd = "2.3.0"
itertools = "0.13.0"
modinverse = "0.1.1"
num = "0.4.0"
num-integer = "0.1.45"
p3-field = { path = "../field", version = "0.2.0" }
p3-mds = { path = "../mds", version = "0.2.0" }
p3-symmetric = { path = "../symmetric", version = "0.2.0" }
p3-util = { path = "../util", version = "0.2.0" }
rand = "0.8.5"
sha3 = "0.10.8"

[dev-dependencies]
p3-baby-bear = { path = "../baby-bear" }
p3-goldilocks = { path = "../goldilocks" }
p3-mersenne-31 = { path = "../mersenne-31" }
criterion = "0.5.1"

[[bench]]
name = "rescue"
harness = false
