[package]
name = "p3-poseidon2"
description = "An implementation of the Poseidon2 cryptographic permutation for zero-knowledge applications."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field.workspace = true
p3-mds.workspace = true
p3-symmetric.workspace = true
p3-util.workspace = true

rand.workspace = true

[dev-dependencies]
p3-baby-bear = { path = "../baby-bear" }
p3-bn254 = { path = "../bn254" }
p3-goldilocks = { path = "../goldilocks" }
p3-koala-bear = { path = "../koala-bear" }
p3-mersenne-31 = { path = "../mersenne-31" }

criterion.workspace = true

[[bench]]
name = "poseidon2"
harness = false

[lints]
workspace = true
