[package]
name = "p3-poseidon2"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
p3-baby-bear = { path = "../baby-bear" }
p3-goldilocks = { path = "../goldilocks" }
p3-mersenne-31 = { path = "../mersenne-31" }
p3-field = { path = "../field" }
p3-mds = { path = "../mds" }
p3-symmetric = { path = "../symmetric" }
rand = "0.8.5"
zkhash = { git = "https://github.com/HorizenLabs/poseidon2" }

[dev-dependencies]
ark-ff = { version = "^0.4.0", default-features = false }
criterion = "0.5.1"

[[bench]]
name = "poseidon2"
harness = false