[package]
name = "p3-poseidon2"
description = "An implementation of the Poseidon2 cryptographic permutation for zero-knowledge applications."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
gcd = "2.3.0"
p3-field = { workspace = true }
p3-symmetric = { workspace = true }
p3-mds = { workspace = true }
rand = { version = "0.8.5", features = ["min_const_gen"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }

[dev-dependencies]
p3-mersenne-31 = { workspace = true }
p3-baby-bear = { workspace = true }
p3-koala-bear = { workspace = true }
p3-bn254-fr = { workspace = true }
p3-goldilocks = { workspace = true }
criterion = "0.5.1"

[[bench]]
name = "poseidon2"
harness = false
