[package]
name = "p3-poseidon2"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
nightly-features = [
    "p3-koala-bear/nightly-features",
    "p3-baby-bear/nightly-features",
    "p3-mersenne-31/nightly-features",
    "p3-goldilocks/nightly-features",
]

[dependencies]
gcd.workspace = true
p3-field = { path = "../field" }
p3-symmetric = { path = "../symmetric" }
p3-mds = { path = "../mds" }
rand = { workspace = true, features = ["min_const_gen"] }

[dev-dependencies]
p3-mersenne-31 = { path = "../mersenne-31" }
p3-baby-bear = { path = "../baby-bear" }
p3-koala-bear = { path = "../koala-bear" }
p3-bn254-fr = { path = "../bn254-fr" }
p3-goldilocks = { path = "../goldilocks" }
p3-util = { path = "../util" }
criterion.workspace = true

[[bench]]
name = "poseidon2"
harness = false
