[package]
name = "p3-poseidon2"
description = "An implementation of the Poseidon2 cryptographic permutation for zero-knowledge applications."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field.workspace = true
p3-mds.workspace = true
p3-symmetric.workspace = true
p3-util.workspace = true

rand.workspace = true

[dev-dependencies]
p3-baby-bear.workspace = true
p3-bn254-fr.workspace = true
p3-goldilocks.workspace = true
p3-koala-bear.workspace = true
p3-mersenne-31.workspace = true

criterion.workspace = true

[features]
nightly-features = [
    "p3-koala-bear/nightly-features",
    "p3-baby-bear/nightly-features",
    "p3-mersenne-31/nightly-features",
    "p3-goldilocks/nightly-features",
]

[[bench]]
name = "poseidon2"
harness = false
