[package]
name = "p3-poseidon2"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
nightly-features = [
    "p3-koala-bear/nightly-features",
    "p3-baby-bear/nightly-features",
    "p3-mersenne-31/nightly-features",
    "p3-goldilocks/nightly-features",
]

[dependencies]
gcd.workspace = true
p3-field.workspace = true
p3-symmetric.workspace = true
p3-mds.workspace = true
rand = { workspace = true, features = ["min_const_gen"] }

[dev-dependencies]
p3-mersenne-31.workspace = true
p3-baby-bear.workspace = true
p3-koala-bear.workspace = true
#p3-bn254-fr.workspace = true
p3-goldilocks.workspace = true
p3-util.workspace = true
criterion.workspace = true

[[bench]]
name = "poseidon2"
harness = false
