[package]
name = "p3-goldilocks"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
p3-field = { path = "../field" }
p3-dft = { path = "../dft" }
p3-mds = { path = "../mds" }
p3-symmetric = { path = "../symmetric" }
p3-util = { path = "../util" }
rand = "0.8.5"
serde = { version = "1.0", default-features = false, features = ["derive"] }

[dev-dependencies]
p3-field-testing = { path = "../field-testing" }
criterion = "0.5.1"

[[bench]]
name = "inverse"
harness = false

[[bench]]
name = "root_7"
harness = false

[[bench]]
name = "extension"
harness = false
