[package]
name = "p3-mds"
description = "A collection of methods allowing for fast multiplication by MDS matrices."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-dft.workspace = true
p3-field.workspace = true
p3-symmetric.workspace = true
p3-util.workspace = true

rand.workspace = true

[dev-dependencies]
p3-baby-bear = { path = "../baby-bear" }
p3-goldilocks = { path = "../goldilocks" }
p3-mersenne-31 = { path = "../mersenne-31" }

criterion.workspace = true

[[bench]]
name = "mds"
harness = false

[lints]
workspace = true
