[package]
name = "p3-mds"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-dft.workspace = true
p3-field.workspace = true
p3-symmetric.workspace = true
p3-util.workspace = true

rand.workspace = true

[dev-dependencies]
p3-baby-bear.workspace = true
p3-goldilocks.workspace = true
p3-mersenne-31.workspace = true

criterion.workspace = true

[[bench]]
name = "mds"
harness = false
