[package]
name = "p3-mds"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
p3-dft.workspace = true
p3-field.workspace = true
p3-matrix.workspace = true
p3-symmetric.workspace = true
p3-util.workspace = true
rand.workspace = true
itertools.workspace = true

[dev-dependencies]
criterion.workspace = true
p3-baby-bear.workspace = true
p3-goldilocks.workspace = true
p3-mersenne-31.workspace = true

[[bench]]
name = "mds"
harness = false
