[package]
name = "p3-symmetric"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field = { path = "../field", version = "0.3.0" }
itertools = "0.13.0"
serde = { version = "1.0", default-features = false, features = ["alloc"] }
