[package]
name = "p3-symmetric"
description = "A modular framework for symmetric cryptographic primitives including hash functions, permutations, and sponge constructions."
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field.workspace = true

itertools.workspace = true
serde = { workspace = true, features = ["alloc"] }

[dev-dependencies]
p3-koala-bear.workspace = true
