[package]
name = "p3-keccak"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[features]
nightly-features = []

[dependencies]
p3-field.workspace = true
p3-symmetric.workspace = true
p3-util.workspace = true
tiny-keccak = { workspace = true, features = ["keccak"] }

[dev-dependencies]
p3-mersenne-31.workspace = true
criterion.workspace = true

[[bench]]
name = "bench_keccak"
harness = false

#[[bench]]
#name = "bench_avx512"
#harness = false
#
#[[bench]]
#name = "bench_avx2"
#harness = false
#
#[[bench]]
#name = "bench_avx2split"
#harness = false
