[package]
name = "p3-circle"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
p3-challenger.workspace = true
p3-commit.workspace = true
p3-dft.workspace = true
p3-field.workspace = true
p3-fri.workspace = true
p3-matrix.workspace = true
p3-maybe-rayon.workspace = true
p3-util.workspace = true

tracing.workspace = true
itertools.workspace = true
serde.workspace = true

[dev-dependencies]
p3-baby-bear.workspace = true
p3-keccak.workspace = true
p3-mersenne-31.workspace = true
p3-merkle-tree.workspace = true
p3-symmetric.workspace = true

hashbrown.workspace = true
rand.workspace = true
criterion.workspace = true

tracing-subscriber = { workspace = true, features = ["std", "env-filter"] }
tracing-forest = { workspace = true, features = ["ansi", "smallvec"] }

[[bench]]
name = "cfft"
harness = false
