[package]
name = "p3-mersenne-31"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
p3-dft.workspace = true
p3-field.workspace = true
p3-matrix.workspace = true
p3-mds.workspace = true
p3-poseidon2.workspace = true
p3-symmetric.workspace = true
p3-util.workspace = true

p3-maybe-rayon = { workspace = true, optional = true }

itertools.workspace = true
num-bigint.workspace = true
paste.workspace = true
rand.workspace = true
serde = { workspace = true, features = ["derive"] }

[dev-dependencies]
p3-field-testing.workspace = true

criterion.workspace = true
rand_xoshiro.workspace = true

[features]
parallel = ["p3-maybe-rayon/parallel"]
nightly-features = []

[[bench]]
name = "bench_field"
harness = false

[[bench]]
name = "extension"
harness = false
