name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 1

jobs:
  build_and_test:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"

    steps:
    - uses: actions/checkout@v4

    - uses: dtolnay/rust-toolchain@stable
      id: rs-stable

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: rust-${{ steps.rs-stable.outputs.rustc_hash }}-${{ hashFiles('**/Cargo.toml') }}

    - name: Build
      run: cargo build --verbose --all-targets

    - name: Check with parallel
      run: cargo check --verbose --all-targets --features parallel

    - name: Test
      run: cargo test --verbose

    - name: Test with parallel
      run: cargo test --verbose --features parallel

  lint:
    name: Formatting and Clippy
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"

    steps:
    - uses: actions/checkout@v4

    - uses: dtolnay/rust-toolchain@stable
      with:
          components: clippy
      id: rs-stable

    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: rust-${{ steps.rs-stable.outputs.rustc_hash }}-${{ hashFiles('**/Cargo.toml') }}

    - name: Clippy
      run: cargo +stable clippy --all-targets -- -D warnings

    - name: Format
      run: cargo +nightly fmt --all -- --check 
